<div id="about" class="about bg-[#1e1e1e] scroll-mt-12">
  <section class="p-10 text-white">
    <h2 class="text-3xl font-semibold text-[#f97316] mb-4">
      {{ "about.sobre_mi" | translate }}
    </h2>

    <p class="w-full text-base text-justify leading-relaxed">
      {{ "about.text1" | translate }}
      <span class="text-[#f97316] font-medium">
        {{ "about.text2" | translate }}
      </span>

      <br />
      {{ "about.text3" | translate }}
      <span class="text-[#f97316] font-medium">{{ "about.text4" | translate }}</span>
      {{ "about.text5" | translate }}
      <span class="text-[#f97316] font-medium">{{ "about.text6" | translate }}</span>
      {{ "about.text7" | translate }}
    </p>

    <h3 class="text-3xl font-semibold text-[#f97316] text-center mt-16 mb-8">
      {{ "about.habilidades" | translate }}
    </h3>

    <div class="flex flex-col gap-6 items-center">
      <!-- Fila 1 (4 íconos) -->
      <div class="flex flex-wrap justify-center gap-4">
        <ng-container *ngFor="let tech of skills.slice(0, 4)">
          <skill-card [icon]="tech.icon" [label]="tech.name" />
        </ng-container>
      </div>

      <!-- Fila 2 (5 íconos) -->
      <div class="flex flex-wrap justify-center gap-4">
        <ng-container *ngFor="let tech of skills.slice(4, 9)">
          <skill-card [icon]="tech.icon" [label]="tech.name" />
        </ng-container>
      </div>

      <!-- Fila 3 (4 íconos) -->
      <div class="flex flex-wrap justify-center gap-4">
        <ng-container *ngFor="let tech of skills.slice(9, 13)">
          <skill-card [icon]="tech.icon" [label]="tech.name" />
        </ng-container>
      </div>

      <!-- Fila 4 (6 íconos) -->
      <div class="flex flex-wrap justify-center gap-4">
        <ng-container *ngFor="let tech of skills.slice(13, 19)">
          <skill-card [icon]="tech.icon" [label]="tech.name" />
        </ng-container>
      </div>
    </div>
  </section>
</div>
