#about {
  background-color: var(--background-color);
  color: var(--text-color);
}

.fade-out {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
