<div id="projects" class="project bg-[#1e1e1e] scroll-mt-12">
  <section class="p-10">
    <h2 class="text-center text-3xl font-semibold text-[#f97316] mb-8">Proyectos</h2>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 max-w-6xl mx-auto"
    >
      <project-card
        *ngFor="let p of projects"
        [title]="p.title"
        [description]="p.description"
        [github]="p.github"
        [demo]="p.demo"
        [image]="p.image"
      />
    </div>
  </section>
</div>
