@import "tailwindcss";

@import "@fontsource/poppins/latin.css";

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Estilos de autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--autofill-bg) inset !important;
  -webkit-text-fill-color: var(--autofill-color) !important;
  font-family: "Poppins", sans-serif !important;
  transition: background-color 9999s ease-in-out 0s;
}

:root {
  --background-color: #d4d4d8;
  --text-color: #1e1e1e;
  --accent-color: #f97316;
  --card-color: #411b02/20;

  --form-color: #71717a;

  --autofill-bg: #d4d4d8;
  --autofill-color: #1e1e1e;
}

.dark-theme {
  --background-color: #1e1e1e;
  --text-color: white;
  --accent-color: #f97316;
  --card-color: #411b02/20;

  --form-color: #9e9e9e;

  --autofill-bg: #1e1e1e;
  --autofill-color: #9e9e9e;
}
